/* reset */
*{margin: 0; padding: 0; border: 0;}
body{font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; outline: 0;}
.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}
ol,ul{list-style: none;}
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
#wrap{width: 100%; height: 100%; background: url(../img/bg_img.png) repeat-y; background-size: cover;}
header{position: fixed; top: 0; left: 0; right: 0; display: flex; height: 100px; z-index: 100; justify-content: space-between;}
header h1{margin: 20px;}
nav{line-height: 100px; margin-right: 20px;}
nav #menu{display: flex; width: 100%; font-weight: bold;}
nav #menu li:not(:last-child){margin-right: 20px;}
nav #menu a{color: #444444; font-size: 1.5rem;}


/* main_visual */
#main_visual{width: 100%; height: 120vh; background: url(../img/main.png) repeat-x; background-size: contain; position: relative;}
#main_visual .title{font-family: 'BMEULJIRO'; position: absolute; top: 30%; left: 50%; transform: translate(-50%,-30%); color: #333333; font-size: 3rem;}
#main_visual .title h3{text-align: center;}
#main_visual .title h3 span{color: #ffffff; text-shadow: 2px 2px 2px #ff926c; font-size: 5rem;}

/* typing */
.typing-txt{display: none;}
.typing{display: inline; animation-name: cursor; animation-duration: 0.3s; animation-iteration-count: infinite; font-size: 30px; line-height: 1;}
@keyframes cursor {
    0%{border-right: 1px solid #fff;}
    50%{border-right: 1px solid #000;}
    100%{border-right: 1px solid #fff;}
}