@charset "utf-8";

/* reset */
*{margin: 0; padding: 0; border: 0;}
body{font-family: 'Noto Sans KR', sans-serif; box-sizing: border-box;}
a{text-decoration: none; outline: 0; color: #333; transition: color 0.5s;}
a:hover{color: #ffae68;}
.cf:after{content: ''; display: block; clear: both;}
.fl{float: left;}
ol,li{list-style: none;}
@font-face {
    font-family: 'BMEULJIRO';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/BMEULJIRO.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* header */
#wrap{width: 100%; height: 100%; background: url(../img/bg_img.png) repeat-y; background-size: cover; z-index: -1;}
header{position: fixed; top: 0; left: 0; right: 0; display: flex; height: 100px; z-index: 100; justify-content: space-between;}
header h1{margin: 20px;}
nav{line-height: 100px; margin-right: 20px;}
nav #menu{display: flex; width: 100%; font-weight: bold;}
nav #menu li:not(:last-child){margin-right: 20px;}
nav #menu a{color: #444444; font-size: 1.5rem; position: relative;}
nav #menu li.on a{color: #ffd28e;}
nav #menu li.on a:after{content: ''; width: 10px; height: 10px; position: absolute; top: -10px; left: 50%; transform: translateX(-50%); background: #ffd28e; border-radius: 50%;}
section h2{text-transform:uppercase; margin: 100px auto; width: 15%; text-align: center; font-size: 2rem; color: #e4ba7d; position: relative; }
section h2::first-letter{font-size: 4rem; color: #ff926c;}

/* main_visual */
#main_visual{width: 100%; height: 100vh; background: url(../img/main.png) repeat-x; background-size: cover; position: relative;}
#main_visual .title{font-family: 'BMEULJIRO'; position: absolute; top: 30%; left: 50%; transform: translate(-50%,-30%); color: #333333; font-size: 3rem;}
#main_visual .title h3{text-align: center;}
#main_visual .title h3 span{color: #ffffff; text-shadow: 2px 2px 2px #ff926c; font-size: 5rem;}
.resume{display: flex;flex-direction: row; justify-content: center; position: absolute; top: 586px; left: 590px; }
.resume span{position: relative; animation: bounce 1s ease infinite alternate; color: #ffddd2; font-size: 1.1rem; font-weight: bold;}
.resume span:nth-child(2) { animation-delay: .1s; }
.resume span:nth-child(3) { animation-delay: .2s; }
.resume span:nth-child(4) { animation-delay: .3s; }
.resume span:nth-child(5) { animation-delay: .4s; }
.resume span:nth-child(6) { animation-delay: .5s; }
.resume span:nth-child(7) { animation-delay: .6s; }
.resume span:nth-child(8) { animation-delay: .7s; }

@keyframes bounce {
    0%{top: 15px;}
    100% {top: -15px;}
}





/* typing */
.typing-txt{display: none;}
.typing{display: inline; animation-name: cursor; animation-duration: 0.3s; animation-iteration-count: infinite; font-size: 30px; line-height: 1;}
@keyframes cursor {
    0%{border-right: 1px solid #fff;}
    50%{border-right: 1px solid #000;}
    100%{border-right: 1px solid #fff;}
}

/* about me */
#about{width: 100%; height: 100vh;}
#about .text{display: flex; justify-content: space-evenly; color: #333;}
#about .text .box{width: 20%; background: #f8f8f8; height: 400px; border-radius: 30px; padding: 20px;}
#about .text .box li{height: 40px; line-height: 40px; width: 340px; margin: auto;}
#about .text .box.history li:not(:first-child){height: 80px;}
#about i{margin-right: 10px; font-size: 1.3rem; color: #8f8f8f; width: 24px; display: inline-block;}
#about .text .box .tit{color: #ffac91; text-shadow: -7px 5px 1px #eeeeee; font-size: 1.5rem; text-transform: uppercase; text-align: left; list-style: none; margin-bottom: 50px; font-weight: bold;}

/* skills */
#skills{width: 100%; height: 100vh;}
#skills .chart_bg{background: rgba(255, 232, 199,.3); width: 80%; height: 50%; margin: 0 auto; border-radius: 50px;}
#skills .chart_wrap{width: 80%; margin: auto; display: flex; justify-content: space-between;  align-items: center; align-content: center; height: 100%;}
#skills .chart_wrap .chart{margin: 0 10px; position: relative;}
#skills .chart_wrap .chart h3{font-size: 1.2rem; text-align: center; color: #555555; margin-bottom: 10px;}
#skills .chart_wrap .chart h4{position: absolute; left: 50%; top: 50%; transform: translate(-50%,-50%); font-size: 1.1rem; padding-left: 24px; color: #878787;}
#skills .chart_wrap .chart svg{width: 200px; height: 200px;}
#skills .chart_wrap .chart circle{fill: #ffe8c7; stroke-width: 20; stroke-dasharray: 515; transform: rotate(-90deg); transform-origin: 50% 50%; stroke-dashoffset: 515; stroke-linecap: round;}
.chart:nth-child(1) circle{stroke: #ff926c;}
.chart:nth-child(2) circle{stroke: #ffac91;}
.chart:nth-child(3) circle{stroke: #ffc978;}
.chart:nth-child(4) circle{stroke: #ffae68;}
.chart:nth-child(5) circle{stroke: #ffe078;}

/* projects */
#projects{width: 100%;}
#projects h4{font-size: 1.2rem; color: #5e5e5e; background: rgba(255, 207, 139, 0.3); border-radius: 50px; text-align: center; display: inline-block; width: 15%; padding: 10px 0;}
#projects ul{background: rgba(245,245,245,.5); border-radius: 30px; height: 300px; display: block; padding: 30px;}
#project1{width: 100%; height: 100vh;}
#project2{width: 100%; height: 100vh;}
#project3{width: 100%; height: 100vh;}
#project4{width: 100%; height: 100vh;}
#app_design{width: 100%; height: 100vh;}
#project1_wrap{width: 1400px; height: 700px; overflow: hidden; position: relative; margin: auto;}
#project2_wrap{width: 1400px; height: 700px; overflow: hidden; position: relative; margin: auto;}
#project3_wrap{width: 1400px; height: 700px; overflow: hidden; position: relative; margin: auto;}
#project4_wrap{width: 1400px; height: 700px; overflow: hidden; position: relative; margin: auto;}
#app_wrap{width: 1400px; height: 700px; overflow: hidden; position: relative; margin: auto;}
.project1_left{width: 550px; position: absolute; left: -600px; top: 120px;}
.project1_left>p{position: relative; height: 450px; position: relative; top: 30px;}
.project1_right{width: 600px; position: absolute; right: -600px; top: 210px;}
#projects .title_bold{font-size: 1.5rem; color: #333; font-weight: bold;}
#projects .cont_small{font-size: 1rem; color: #444;}
.project2_left{width: 550px; position: absolute; left: -600px; top: 200px;}
.project2_right{width: 600px; position: absolute; right: -600px; top: 200px;}
.project3_left{width: 550px; position: absolute; left: -600px; top: 200px;}
.project3_right{width: 600px; position: absolute; right: -600px; top: 200px;}
.project4_left{width: 550px; position: absolute; left: -600px; top: 200px;}
.project4_right{width: 600px; position: absolute; right: -600px; top: 200px;}
.app_left{width: 550px; position: absolute; left: -600px; top: 200px;}
.app_right{width: 600px; position: absolute; right: -600px; top: 160px;}
.app_right>img{margin-right: 20px;}

.hidden{display: block; width: 496px; height: 280px; position: relative; top: -392px; left: 27px; overflow: hidden;}
.hidden>img{display: block; position: absolute; top: 0; left: 0;}
#project2 .hidden{width: 459px; height: 287px; top: -336px; left: 45px;}
#app_design .hidden{left: 215px; top: -490px; height: 459px; border-radius: 20px;}
#app_design .hidden>img{border-radius: 20px;}

/* contact */
#contact{width: 100%; height: 100vh; position: relative;}
#contact img{position: absolute; left: 850px; top: 100px;}
.bubble{background: url(../img/bubble.png) no-repeat; display: block; width: 800px; height: 340px; background-size: contain; position: absolute; top: 30%; left: 50%; transform: translateX(-50%); z-index: 1;}
.direct{padding: 10px; width: 500px; height: 300px; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); z-index: 2;}
.direct p{color: #fff; font-size: 1.5rem; font-weight: bold;}

/* top_btn */
#top_btn{position: fixed; right: 50px; bottom: 50px; opacity: 0; transition: opacity 0.5s;}
#top_btn.on{opacity: 1;}